<!DOCTYPE html>
<html lang="en">
<head>
    <title> Athletes </title>
    <%include templates/head.ejs%>
    <script src="js/sorttable.js"></script>
</head><!--/head-->
<body>

<%include templates/navibar.ejs%>


<div id="headerwrap">
    <div class="container">
        <h1>The Search Result Page</h1>
        <h2><%= title %></h2>
        <table class = "table sortable table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Gold</th>
                <th>Country</th>
                <th>Gender</th>
                <th>Sport</th>
                <th>Discipline</th>
                <th>Event</th>
                <th>Year</th>


            </tr>

            </thead>
            <tbody>
            <% for (var i = 0; i < result.length; i++){%>
            <tr class = "warning">

                <td> <%= result[i].name %> </td>
                <td> <%= result[i].gold %> </td>
                <td> <%= result[i].country %> </td>
                <td> <%= result[i].gender %> </td>
                <td> <%= result[i].sport %> </td>
                <td> <%= result[i].discipline %> </td>
                <td> <%= result[i].event %> </td>
                <td> <%= result[i].year %> </td>
            </tr>
            <%}%>
            </tbody>
            <tfoot></tfoot>
        </table>

    </div>
</div>


<% include templates/footer.ejs%>

</body>
</html>
