<!DOCTYPE html>
<html lang="en">
<head>

  <title> Pokemon </title>
  <%include templates/head.ejs%>
  <script src="js/sorttable.js"></script>
</head><!--/head-->
<body>

<%include templates/navibar.ejs%>


<div id="headerwrap">
  <div class="container">
    <h1>The Search Result Page</h1>
    <h2><%= title %></h2>
    <table class = "table sortable table-striped table-hover">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Name</th>
          <th>Type1</th>
          <th>Type2</th>
          <th>Total</th>
          <th>HP</th>
          <th>Attack</th>
          <th>Defense</th>
          <th>Speed</th>
          <th>Generation</th>
          <th>Index</th>
        </tr>

      </thead>
      <tbody>
      <% for (var i = 0; i < result.length; i++){%>
        <% var url = "https://s3-us-west-2.amazonaws.com/pokemonimage/icon/"+ result[i].image_no +".png" %>
        <tr class = "warning">
          <td><img src = <%=url%>></td>
          <td> <%= result[i].name %> </td>
          <td> <%= result[i].type1 %> </td>
          <% if (result[i].type2 == "NULL") {%>
            <td></td>
          <%} else {%>
            <td> <%= result[i].type2 %></td>
          <%}%>
          <td> <%= result[i].total %> </td>
          <td> <%= result[i].hp %> </td>
          <td> <%= result[i].attack %> </td>
          <td> <%= result[i].defense %> </td>
          <td> <%= result[i].speed %> </td>
          <td> <%= result[i].generation %> </td>
          <td> <%= result[i].image_no %> </td>
        </tr>
      <%}%>
      </tbody>
      <tfoot></tfoot>
    </table>

  </div>
</div>


<% include templates/footer.ejs%>

</body>
</html>
