<<<<<<< HEAD
=======
<!DOCTYPE html>
<html lang="en">
<head>

    <title> Pokemon </title>
    <link href="stylesheets/guessgame.css" rel="stylesheet">
    <%include templates/head.ejs%>
</head>
<body>

<%include templates/navibar.ejs%>
<div class="wrapper">

<div id="headerwrap">
    <div class="container">
        <h3><%= title %></h3>
        <% //result[0].total = result[1].total%>
        <!-- MAKE IMAGE BUTTONS -->
        <section>
          <%if (true)%>
          <script>
            var num = <%= result[0].total%> ;
          </script>
          <% }%>
            <script>

                function popup(right) {
                  document.getElementById("firstImg").src = "";
                  if (right == null){
                    confirm("Tie!");
                  }else if (!right){
                    confirm ("You are wrong!");
                  }else {
                    confirm("You are right!");
                  }
                  var url0 = "<%%=https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[1].image_no +".png%>";
                  document.getElementById("firstImg").src = url0;
                  //location.reload();
                }

            </script>
          <% var url0 = result[0].image_no %>

          <img id = "firstImg"  src = <%="https://s3-us-west-2.amazonaws.com/pokemonimage/image/" + "1.png"%>>


            <div class = "guess_options" id = "option0">
                <% var url0 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[0].image_no +".png" %>
                <img id = "firstImgs"  src = <%= url0 %>>
              <h3><%=result[0].total%></h3>
              <% if (result[0].total > result[1].total) {%>
                    <button id = "guess_button" onclick="popup(true)" class="btn btn-warning btn-lg"><%= result[0].name %></button>
              <%} else if (result[0].total < result[1].total) {%>
                    <button id = "guess_button" onclick="popup(false)" class="btn btn-warning btn-lg"><%= result[0].name %></button>
              <%} else {%>
                    <button id = "guess_button" onclick="popup()" class="btn btn-warning btn-lg"><%= result[0].name %></button>
              <%}%>
            </div>

            <div class = "guess_options" id = "option1">
                <% var url1 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[1].image_no +".png" %>
                <img class = "guess_images" src=<%= url1 %>>
              <h3><%=result[1].total%></h3>
              <% if (result[0].total < result[1].total) {%>
              <button id = "guess_button" onclick="popup(true)" class="btn btn-warning btn-lg"><%= result[1].name %></button>
              <%} else if (result[0].total > result[1].total) {%>
              <button id = "guess_button" onclick="popup(false)" class="btn btn-warning btn-lg"><%= result[1].name %></button>
              <%} else {%>
              <button id = "guess_button" onclick="popup()" class="btn btn-warning btn-lg"><%= result[1].name %></button>
              <%}%>
            </div>
        </section>

    </div>
</div>
</div>
<div class="push"></div>
<% include templates/footer.ejs%>

</body>
</html>
>>>>>>> 9d6ccc27cfe57ac35b3125fb629f5943e4fa7eb0
