<!DOCTYPE html>
<html lang="en">
<head>

    <title> Pokemon </title>
    <link href="stylesheets/guessgame.css" rel="stylesheet">
    <%include templates/head.ejs%>
</head>
<body>

<%include templates/navibar.ejs%>


<div id="headerwrap">
    <div class="container">
        <h3><%= title %></h3>

        <!-- MAKE IMAGE BUTTONS -->
        <section>
            <div class = "guess_options" id = "option0">
                <% var url0 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[0].image_no +".png" %>
                <img class = "guess_images" src = <%= url0 %>>
                <button id = "guess_button">
                    <%= result[0].name %>
                </button>
            </div>

            <!-- TODO: ADD ONCLICK FUNCTION -->

            <div class = "guess_options" id = "option1">
                <% var url1 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[1].image_no +".png" %>
                <img class = "guess_images" src=<%= url1 %>>
                <button id = "guess_button">
                    <%= result[1].name %>
                </button>
            </div>

        </section>

    </div>
</div>

<% include templates/footer.ejs%>

</body>
</html>
