<!DOCTYPE html>
<html lang="en">
<head>

    <title> Pokemon </title>
    <link href="stylesheets/guessgame.css" rel="stylesheet">
    <%include templates/head.ejs%>
</head>
<body>

<%include templates/navibar.ejs%>
<div class="wrapper">

<div id="headerwrap">
    <div class="container">
        <h2 class = "text-center"><%= title %></h2>
        <h2 class = "text-center">Your Score:</h2>
        <h2 class = "text-center" id = "score">0</h2>
        <div style="display:none;">

            <h3 id = "index1">0</h3>
            <h3 id = "index2">10</h3>

            <% for (var i = 0; i < 20; i++) {%>
                <h3 id = <%="poke" + i%>><%=result[i].name+"; "+result[i].total+"; "+result[i].image_no %></h3>
            <% } %>

        </div>


        <section>
            <script>
                function popup(choice) {
                  var first = "poke" + document.getElementById("index1").innerHTML;
                  var second = "poke" + document.getElementById("index2").innerHTML;

                  var p1 =document.getElementById(first).innerHTML.split("; ");
                  var p2 =document.getElementById(second).innerHTML.split("; ");

                  var message = "";

                  if (choice == true){
                    if (parseInt(p1[1]) > parseInt(p2[1])){
                      increment("score");
                      message = "You are right!"
//                      confirm("You are right!");
                    }else if (parseInt(p1[1]) < parseInt(p2[1])){
//                      confirm("You are wrong!");
                      message = "You are wrong!"
                    }else{
//                      confirm("Tie!");
                      message = "Tie!"
                    }
                  }else {
                    if (parseInt(p1[1]) < parseInt(p2[1])) {
                      increment("score");
//                      confirm("You are right!");
                      message = "You are right!"
                    } else if (parseInt(p1[1]) > parseInt(p2[1])) {
//                      confirm("You are wrong!");
                      message = "You are wrong!"
                    } else {
//                      confirm("Tie!");
                      message = "Tie!"
                    }
                  }
                  document.getElementById("total1").style.visibility = "";
                  document.getElementById("total2").style.visibility = "";
                  document.getElementById("right or wrong").innerHTML = message;



                  window.setTimeout(nextQ, 1500);

                  //location.reload();
                }

                function nextQ(){

                  if (parseInt(document.getElementById("index2").innerHTML) == 19){
                    var msg = "Your total score is: " + document.getElementById("score").innerHTML
                        + ". \nDo you want to play again?";
                    if (confirm(msg) == true){
                      location.reload();
                    }else{
                      document.getElementById("right or wrong").innerHTML = "";
                      document.getElementById("replay").style.display = "";
                    }
                  }

                  increment("index1");
                  increment("index2");

                  var first = "poke" + document.getElementById("index1").innerHTML;
                  var second = "poke" + document.getElementById("index2").innerHTML;

                  var p1 =document.getElementById(first).innerHTML.split("; ");
                  var p2 =document.getElementById(second).innerHTML.split("; ");

                  var url1 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ p1[2] +".png";
                  var url2 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ p2[2] +".png";
                  document.getElementById("img1").src = url1;
                  document.getElementById("img2").src = url2;

                  document.getElementById("right or wrong").innerHTML = "";

                  document.getElementById("guess_button1").innerHTML = p1[0];
                  document.getElementById("guess_button2").innerHTML = p2[0];

                  document.getElementById("total1").style.visibility = "hidden";
                  document.getElementById("total2").style.visibility = "hidden";

                  document.getElementById("total1").innerHTML = p1[1];
                  document.getElementById("total2").innerHTML = p2[1];
                }

                function increment(msg){
                  var i =  document.getElementById(msg).innerHTML;
                  i = parseInt(i);
                  i = i + 1;
                  document.getElementById(msg).innerHTML = i;
                }

            </script>

            <div class = "guess_options" id = "option0">
                <% var url0 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[0].image_no +".png" %>
                <img id = "img1" class = "guess_images" src = <%= url0 %>>
              <h3 id = "total1" style="visibility:hidden;"><%=result[0].total%></h3>
              <button id = "guess_button1" onclick="popup(true)" class="btn btn-warning btn-lg"><%= result[0].name %></button>
            </div>

            <div class = "guess_options" id = "option1">
                <% var url1 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[10].image_no +".png" %>
                <img id = "img2" class = "guess_images" src=<%= url1 %>>
              <h3 id = "total2" style="visibility:hidden;"><%=result[10].total%></h3>
              <button id = "guess_button2" onclick="popup(false)" class="btn btn-warning btn-lg"><%= result[10].name %></button>

            </div>
        </section>

      <h2 id = "right or wrong" class = "text-center"></h2>
      <div>
          <button id = "replay" style="display:none;" onclick="location.reload()" class="btn btn-warning btn-lg">Play Again</button>
      </div>
    </div>
</div>
</div>
<div class="push"></div>
<% include templates/footer.ejs%>

</body>
</html>
