<!DOCTYPE html>
<html lang="en">
<head>

    <title> Pokemon </title>
    <link href="stylesheets/guessgame.css" rel="stylesheet">
    <%include templates/head.ejs%>
</head>
<body>

<%include templates/navibar.ejs%>


<div id="headerwrap">
    <div class="container">
        <h3><%= title %></h3>

        <!-- MAKE IMAGE BUTTONS -->
        <section>
            <%
                var choose0;
                var choose1;
                if (result[0].total > result[1].total) {
                    choose0 = "/win";
                    choose1 = "/lose";
                } else if (result[0].total < result[1].total) {
                    choose0 = "/lose";
                    choose1 = "/win";
                } else {
                    choose0 = "/tie";
                    choose1 = "/tie";
                }
            %>
            <div class = "guess_options" id = "option0">
                <% var url0 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[0].image_no +".png" %>
                <img class = "guess_images" src = <%= url0 %>>

                <form class="form-inline" role="form" method="get" action=<%= choose0 %>>
                    <div class="form-group">
                        <input type="button" class="form-control" name = "choose0">
                    </div>
                    <button id = "guess_button" type="submit" class="btn btn-warning btn-lg"><%= result[0].name %></button>
                </form>

            </div>


            <div class = "guess_options" id = "option1">
                <% var url1 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[1].image_no +".png" %>
                <img class = "guess_images" src=<%= url1 %>>

                <form class="form-inline" role="form" method="get" action=<%= choose1 %>>
                    <div class="form-group">
                        <input type="button" class="form-control" name = "choose1">
                    </div>
                    <button id = "guess_button" type="submit" class="btn btn-warning btn-lg"><%= result[1].name %></button>
                </form>

            </div>

        </section>

    </div>
</div>

<% include templates/footer.ejs%>

</body>
</html>
