<!DOCTYPE html>
<html lang="en">
<head>

    <title> Pokemon </title>
    <link href="stylesheets/guessgame.css" rel="stylesheet">
    <%include templates/head.ejs%>
</head><!--/head-->
<body>

<%include templates/navibar.ejs%>


<div id="headerwrap">
    <div class="container">
        <h1>The Guess Game Page</h1>
        <h3><%= title %></h3>

        <section>
            <div class = "guess_options" id = "option0">
                <h3><%= result[0].name %></h3>
                <% var url0 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[0].image_no +".png" %>
                <img class = "guess_images" src = <%= url0 %>>
                <% var total0 = result[0].total %>
            </div>

            <div class = "guess_options" id = "option1">
                <h3><%= result[1].name %></h3>
                <% var url1 = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result[1].image_no +".png" %>
                <img class = "guess_images" src=<%= url1 %>>
                <% var total1 = result[1].total %>
            </div>
        </section>

    </div>
</div>

<% include templates/footer.ejs%>

</body>
</html>
