<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="img/favicon.png">-->

  <title><%= title %></title>

  <!-- Bootstrap core CSS -->
  <link href="stylesheets/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/main.css" rel="stylesheet">

  <!-- Fonts from Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<% include templates/header.ejs %>
<div id="headerwrap">
  <div class="container">
    <h1>The Search Result Page</h1>
    <h2><%= title %></h2>
    <table class = "table table-striped table-hover">
      <% for (var i=0; i < result1.length; i++) { %>
      <tr class = "warning">
        <td> <%= result1[i].name %> </td>
        <td> <%= result1[i].type %> </td>
        <td> <%= result1[i].total %> </td>
        <td> <%= result1[i].hp %> </td>
        <td> <%= result1[i].attack %> </td>
        <td> <%= result1[i].defense %> </td>
        <td> <%= result1[i].speed %> </td>
        <td>&nbsp</td>
      </tr>
      <% } %>
    </table>
    <table class = "table table-striped table-hover">
      <% for (var i=0; i < result3.length; i++) { %>
      <tr class = "warning">
        <td> <%= result3[i].name %> </td>
        <td> <%= result3[i].country %> </td>
        <td> <%= result3[i].sports %> </td>
        <td> <%= result3[i].events %> </td>
        <td> <%= result3[i].height %> </td>
        <td> <%= result3[i].weight %> </td>
        <td> <%= result3[i].gender %> </td>
        <td>&nbsp</td>
      </tr>
      <% } %>
    </table>
  </div>
</div>

<% include templates/footer.ejs%>

</body>
</html>
