<!DOCTYPE html>
<html lang="en">
<head>
<%include templates/head.ejs%>
</head>
<body>

<%include templates/navibar.ejs%>

<section id="middle">
  <div class="container">
    <div class="row">
      <h2 class = "text-center"> <%= ""%></h2>
      <table class = "table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Gold</th>
          <th>Silver</th>
          <th>Bronze</th>
          <th>Country</th>
          <th>Gender</th>
          <th>Sport</th>
          <th>Discipline</th>
          <th>Event</th>
          <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr class = "warning">
          <td> <%= medal.name %> </td>
          <td> <%= medal.gold %> </td>
          <td> <%= medal.silver %> </td>
          <td> <%= medal.bronze %> </td>
          <td> <%= athleteAtt.country %> </td>
          <td> <%= athleteAtt.gender %> </td>
          <td> <%= athleteAtt.sport.replace(/&/g, "; ") %> </td>
          <td> <%= athleteAtt.discipline.replace(/&/g, "; ") %> </td>
          <td> <%= athleteAtt.event.replace(/&/g, "; ") %> </td>
          <td> <%= athleteAtt.year.replace(/&/g, "; ") %> </td>
        </tr>
        </tbody>
      </table>
      <div class="col-sm-6 wow fadeInDown">
        <div class="accordion">
          <h2 ><%= result.name %></h2>

          <% var url = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result.image_no +".png" %>
          <img class="img-responsive img-blog" src= <%=url%> style="width:428px;height:428px;" alt="" />
        </div>
      </div>

      <div class="col-sm-6 wow fadeInDown">
        <div class="skill">
          <h2><%= result.type %></h2>
          <p> The type of corresponding Pokémon for <%= name %> is <%= result.type %>.</p>
          <div class="progress-wrap">
            <h3>Total</h3>
            <div class="progress">
              <div class="progress-bar  color4" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= result.total*1.0/7.2%>%">
                <span class="bar-width"><%= result.total %></span>
              </div>
            </div>
          </div>

          <div class="progress-wrap">
            <h3>HP</h3>
            <div class="progress">
              <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= result.hp*1.0/2.55%>%">
                <span class="bar-width"><%= result.hp %></span>
              </div>
            </div>
          </div>

          <div class="progress-wrap">
            <h3>Attack</h3>
            <div class="progress">
              <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= result.hp*1.0/1.66%>%">
                <span class="bar-width"><%= result.attack %></span>
              </div>
            </div>
          </div>

          <div class="progress-wrap">
            <h3>Defense</h3>
            <div class="progress">
              <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= result.defense*1.0/2%>%">
                <span class="bar-width"><%= result.defense %></span>
              </div>
            </div>
          </div>

          <div class="progress-wrap">
            <h3>Speed</h3>
            <div class="progress">
              <div class="progress-bar color1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%= result.speed*1.0/1.6 %>%">
                <span class="bar-width"><%= result.speed %></span>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.col-sm-6-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#middle-->

<% include templates/footer.ejs%>
</body>
</html>

