<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="img/favicon.png">-->

  <title><%= title %></title>

  <!-- Bootstrap core CSS -->
  <link href="stylesheets/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/main.css" rel="stylesheet">

  <!-- Fonts from Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<% include templates/header.ejs %>
<div id="headerwrap">
  <div class="container">
    <h1>The Search Result Page</h1>
    <h2><%= title %></h2>
    <table class = "table table-striped table-hover">
      <% var url = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result.image_no +".png" %>
      <% console.log(url) %>
      <tr class = "warning">
        <td><img src = <%=url%> style="width:128px;height:128px;"></td>
        <td> <%= result.name %> </td>
        <td> <%= result.type %> </td>
        <td> <%= result.total %> </td>
        <td> <%= result.hp %> </td>
        <td> <%= result.attack %> </td>
        <td> <%= result.defense %> </td>
        <td> <%= result.speed %> </td>
        <td>&nbsp</td>
      </tr>

    </table>

  </div>
</div>

<% include templates/footer.ejs%>

</body>
</html>
